apiVersion: v1
kind: Secret
metadata:
  name: grocery-app-secret
  namespace: "{{ k8s_namespace }}"
type: Opaque
data:
  DB_USERNAME: "{{ db_user | b64encode }}"
  DB_PASSWORD: "{{ db_password_b64 }}" # Already base64 encoded in Jenkinsfile
